{% extends 'layout.html' %}

{% block body %}


<h1>Recipes</h1>
<p>Funk it up! Here are some yummy recipes.</p>

{% for post in posts %}
<div class="posts media">
  <img class="rounded-circle post-img" src="../static/default.jpg">
  <div class="media-body">
    <div class="post-metadata">
      {{ post.author.username }} <small class="text-muted">{{ post.pub_date.year }}-{{ post.pub_date.month }}-{{ post.pub_date.day }}</small> <!-- in django: ... |date:"F d, Y" - how to format with jinja/flask? -->
    </div>
    <h2>{{post.name}}</h2>
    <p>{{post.description}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}